.vscode/

.DS_STORE

*.swp

logs/

wip/
tmp/
temp/
common/bot/bots/old/

# don't commit the map
**3k_shared.map
**3k_shared.map.bak

# don't commit any password files
password.tin
private.tin
statboosts.tin

notes/
